

<a href="/post/{{id}}" class="text-secondary">{{title}}</a>
{{postContent}}
by {{user.userName}} on {{format_date created_at}}
<a href="/post/{{id}}" class="text-muted">{{comments.length}} {{format_plural "comment" comments.length}}</a>