
<h1>post {{id}}</h1>
{{!-- <a href='/post/{{id}}' class='buttons'>{{title}}</a>
{{post_content}}
by {{user.username}} on {{createdAt}}
<a href='/post/{{id}}' class='text-muted'>{{comments.length}} {{'comment' comments.length}}</a> --}}