

<a href="/post/{{id}}" class="buttons">{{title}}</a>
{{postContent}}
by {{user.user_name}} on {{createdAt}}
<a href="/post/{{id}}" class="text-muted">{{comments.length}} {{"comment" comments.length}}</a>