
{{#if posts.length}}
<section>
	<h2 class=''>Your Posts</h2>
	<ol class='postList'>
		{{#each posts as |post|}}
		<li class='postContainer'>
			<a href='/post/{{id}}' class='postTitle'>{{title}}</a>
			<h4 class='postContent'>{{post_content}}</h4>
			<div class='postCreated'>
				<p>Created by: <span>{{user.username}}</span> on {{format_date created_at}}</p>
				<a href='/post/{{id}}' class=''>{{comments.length}} {{format_plural 'comment' comments.length}}</a>
			</div>
		</li>
		{{/each}}
	</ol>
</section>
{{/if}}

<div class='mt-5 pt-3 pb-2'>
	<a href='/dashboard/addPost'><button id='createPost' class='buttons'>Add New Post</button></a>
</div>