<div class='wrapper'>
	<form class='innerForm'>
		<h5>Title</h5>
		<input class='inputField' name='post-title' type='text' value='{{post.title}}' />
		<h5 class=''>Content</h5>
		<input class='newComment' name='post-content' type='text' value='{{post.post_content}}' />
		<p>Created by: <span>{{user.username}}</span> on {{format_date post.created_at}} | <a href='/post/{{post.id}}'>{{post.comments.length}}
				{{format_plural 'comment' post.comments.length}}</a></p>
		<button id='savePostBtn' class='buttons' type='submit'>Save post</button>
		<button id='deletePostBtn' class='buttons' type='submit'>Delete post</button>
	</form>
	<form class='innerForm'>
		<textarea class='newComment' name='newComment'></textarea>
		<button id='newComment' class='buttons' type='submit'>Add New Comment</button>
	</form>
	{{> comments comments=post.comments loggedIn=loggedIn}}
</div>
<script src='/js/editPost.js'></script>
<script src='/js/deletePost.js'></script>
<script src='/js/addComment.js'></script>